<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="namespace" default="" />
  <!-- <gazebo>
    <plugin filename="libignition-gazebo-sensors-system.so"
      name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin name="ignition::gazebo::systems::Imu" filename="libignition-gazebo-imu-system.so" />
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find robotpadi)/config/diff_drive_controller.yaml</parameters>
    </plugin>
  </gazebo> -->

  <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
      <ros>
          <namespace>$(arg namespace)</namespace>
      </ros>
      <parameters>$(find robotpadi)/config/diff_drive_controller.yaml</parameters>
      </plugin>
  </gazebo>
</robot>