<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_padi">

    <xacro:include filename="robot_padi.xacro"/>
    <xacro:include filename="ros2_control.xacro"/>
    <xacro:include filename="imu.xacro"/>
    <!-- <xacro:include filename="gazebo_plugin.xacro"/> -->
</robot>
